@charset "utf-8";
/* CSS Document */

body{
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}


.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Force the body to take full screen height */
  background: url('bg.jpg') no-repeat left center / cover;
  background-attachment: fixed; /* Optional: keeps image static while scrolling */
}

logo{
 
	
}
